.belanosima{
    font-family: 'Belanosima', sans-serif;
}

 a{
    color: whitesmoke;
    text-decoration: none;
}


.size-20 {
    font-size: 20px;
}

.size-30 {
    font-size: 30px;
}

.size-40 {
    font-size: 40px;
}



.nav-container{
    background-color:#11181e ;
    font-size: 20px;
    border-style: solid;
    width:fit-content;
    height: 50px;
    display: flex;
}

.white{
    color: whitesmoke;
}

.ortala {
    align-items: center
        }

        /* ------------- */
        .nav-container ul {
            display: flex;
            align-items: center;
            padding: 0;
          }
          
          .nav-container li {
            

            display: flex;
            align-items: center;
            margin-right: 20px;
          }
          
          .nav-container .icon {
            margin-right: 5px;
            height: 25px; /* Adjust the height as needed */
            width: 25px; /* Adjust the width as needed */
          }
          
          .nav-container a {
            color: white;
            text-decoration: none;
          }

#kahvelerimiz li {
    text-decoration:underline;
}

#iletisim{
    margin: 5%;
}